##  Анализ взаимодействия пользователей с карточками Яндекс.Дзен

[Ссылка на дашборд](https://public.tableau.com/app/profile/leshakot/viz/YP_dzen/Dashboard1?publish=yes)

[презентация](https://docs.google.com/presentation/d/1e8ca98sFA8taBGPhWpRhWGj7PBqNBYWSoRf_ims_Fkc/edit?usp=sharing)

In [ ]:
!pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy) (2.0.2)

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
! gdown 1M16brrtXVr1MsBHvxX6d_OmsXos_TsHl

Downloading...
From: https://drive.google.com/uc?id=1M16brrtXVr1MsBHvxX6d_OmsXos_TsHl
To: /content/CA.pem
100% 3.58k/3.58k [00:00<00:00, 4.64MB/s]

In [ ]:
engine = create_engine('sqlite://///content/CA.pem', echo = False)

### Подключаемся к базе и выгружаем данные

In [ ]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [ ]:
query = '''
            SELECT * FROM dash_visits
        '''

In [ ]:
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [ ]:
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [ ]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [ ]:
dash_visits['dt'].min()

Timestamp('2019-09-24 18:28:00')

In [ ]:
dash_visits['dt'].max()

Timestamp('2019-09-24 19:00:00')

In [ ]:
dash_visits.isna().agg(['sum', 'mean'])

      record_id  item_topic  source_topic  age_segment   dt  visits
sum         0.0         0.0           0.0          0.0  0.0     0.0
mean        0.0         0.0           0.0          0.0  0.0     0.0

In [ ]:
print('Количество уникальных значений в каждой колонке:')
for index in dash_visits.columns:
    row = dash_visits[index].nunique()
    print(f'Уникальный значений {index}: {row}')

Количество уникальных значений в каждой колонке:
Уникальный значений record_id: 30745
Уникальный значений item_topic: 25
Уникальный значений source_topic: 26
Уникальный значений age_segment: 6
Уникальный значений dt: 17
Уникальный значений visits: 212

In [ ]:
dash_visits['item_topic'].unique()

array(['Деньги', 'Дети', 'Женская психология', 'Женщины', 'Здоровье',
       'Знаменитости', 'Интересные факты', 'Искусство', 'История',
       'Красота', 'Культура', 'Наука', 'Общество', 'Отношения',
       'Подборки', 'Полезные советы', 'Психология', 'Путешествия',
       'Рассказы', 'Россия', 'Семья', 'Скандалы', 'Туризм', 'Шоу', 'Юмор'],
      dtype=object)

In [ ]:
dash_visits['source_topic'].unique()

array(['Авто', 'Деньги', 'Дети', 'Еда', 'Здоровье', 'Знаменитости',
       'Интерьеры', 'Искусство', 'История', 'Кино', 'Музыка', 'Одежда',
       'Полезные советы', 'Политика', 'Психология', 'Путешествия',
       'Ремонт', 'Россия', 'Сад и дача', 'Сделай сам',
       'Семейные отношения', 'Семья', 'Спорт', 'Строительство',
       'Технологии', 'Финансы'], dtype=object)

In [ ]:
dash_visits.to_csv('dash_visits.csv', index=False)